html, body {
    margin: 0;
    padding: 0;
}

.header {
    color: white;
    text-align: center;
    padding: 35px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

.main {
    font-size: 15px;
    padding: 123px;
    color: white;
    text-align: center;
    background-color: #1A1F3C;
}

.header h1 {
    font-size: 70px;
}
